

.first-screen {
  width: 100%;
  height: 80vh;
  background-color: #ade1c5;
  .first-screen__header {

    width: 100%;
    height: 200px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    .header__content {
      font-family: "Roboto", sans-serif;
      font-size: 12px;
      text-transform: uppercase;
      width: 60%;
      font-weight: 500;
      height: 200px;
      .content__main {
        width: 100%;
        height: 150px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .main__search {
          display: flex;
          align-items: center;
          width: 22%;
          .search__logo {
            width: 15px;
            height: 15px;
            margin-right: 10px;
          }
          .search__input {
            border: none;
            outline: none;
            font-family: "Roboto", sans-serif;
            width: 80%;
            height: 30px;
          }
        }
        .main__icons {
          float: right;
          width: 15%;
          display: flex;
          align-items: center;
          .icon {
            margin-right: 15px;
          }
        }
      }
    }
    .header__navbar {
      width: 100%;
      height: 50px;
      display: flex;
      justify-content: center;
      .navbar__link {
        text-decoration: none;
        text-transform: uppercase;
        margin-left: 20px;
        letter-spacing: 1px;
      }
      .navbar__link:hover{
        transition: 0.3s;
        color: #ade1c5;
      }
    }
  }
  .first-screen__content {
    margin-top: 150px;
    width: 100%;
    display: flex;
    justify-content: center;
    .content__main {
      display: flex;
      flex-flow: column nowrap;
      .content__title-img {
        width: 600px;
        height: 190px;
      }
      .content__link {
        font-family: "Roboto", sans-serif;
        color: #000;
        font-weight: 500;
      }
    }
  }

}