@import "variables";
@mixin navLink {
  color: $text;
  font-size: 11px;
  text-transform: uppercase;
  transition: 0.3s;
}
@mixin link {
    font-weight: bold;
    font-size: 16px;
    color: #000;
    text-decoration: underline;
    text-transform: uppercase;
    line-height: 1.5;
}
@mixin title {
  font-weight: 400;
  font-size: 23px;
  font-family: "Titillium Web", sans-serif;
  color: #000;

}
@mixin text {
    font-size: 14px;
    font-family: "Roboto Light", sans-serif;
}
@mixin heading {
  font-weight: 300;
  font-size: 18px;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: center;
}