.new-arrivals {
  background: $mint;
  max-height: 576px;
  display: flex;
  justify-content: center;
  .wrapper {
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 100px 30px;
  }
  .new-arrivals__offer {
    .offer-img {
      width: 100%;
    }
  }
  .new-arrivals__link {
    @include link;
  }
}