.products-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  .products-list__header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
  .products-list__inner {
    max-width: 1200px;
    margin: 56px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}
.product {
  height: 500px;
  display: flex;
  padding: 10px;
  .product__sidebar {
    padding-right: 20px;
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    .product__sidebar-link {
      margin: 10px 0;
    }
  }
  .product__block {
    width: 250px;
    display: flex;
    flex-direction: column;

    .product__block-img {
      background: #e7a8c6;
      width: 100%;
      height: 250px;
    }
    .product__block-text {
      padding-left: 20px;
      display: flex;
      justify-content: center;
      flex-direction: column;
      height: 158px;
      .title {
        color: #fff;
        @include title;
      }
      .price {
        color: #000;
        @include text;
      }
    }
    .product__block-btn {
      text-align: left;
      padding-left: 20px;
      color: #fff;
      @include navLink;
      outline: none;
      background: #fff;
      border-top: 1px solid #f4f4f4;
      border: none;
      height: 85px;
    }
  }
}