* {
  padding: 0;
  margin: 0;
  color: #45505e;
  overflow-style: inherit;
}

.first-screen {
  max-width: 100%;
  height: 80vh;
  background-color: #ade1c5;
  display: flex;
  justify-content: center;
}
.first-screen .first-screen__header {
  position: absolute;
  top: 0;
  width: 100%;
  height: 200px;
  background-color: #fff;
  display: flex;
  justify-content: center;
}
.first-screen .first-screen__header .header__content {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  text-transform: uppercase;
  width: 60%;
  font-weight: 500;
  height: 200px;
}
.first-screen .first-screen__header .header__content .content__main {
  width: 100%;
  height: 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.first-screen .first-screen__header .header__content .content__main .main__search {
  display: flex;
  align-items: center;
  width: 22%;
}
.first-screen .first-screen__header .header__content .content__main .main__search .search__logo {
  width: 15px;
  height: 15px;
  margin-right: 10px;
}
.first-screen .first-screen__header .header__content .content__main .main__search .search__input {
  border: none;
  outline: none;
  font-family: "Roboto", sans-serif;
  width: 80%;
  height: 30px;
}
.first-screen .first-screen__header .header__content .content__main .main__icons {
  float: right;
  width: 15%;
  display: flex;
  align-items: center;
}
.first-screen .first-screen__header .header__content .content__main .main__icons .icon {
  margin-right: 15px;
}
.first-screen .first-screen__header .header__navbar {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
}
.first-screen .first-screen__header .header__navbar .navbar__link {
  text-decoration: none;
  text-transform: uppercase;
  margin-left: 20px;
  letter-spacing: 1px;
}
.first-screen .first-screen__header .header__navbar .navbar__link:hover {
  transition: 0.3s;
  color: #ade1c5;
}
.first-screen .first-screen__content {
  margin-top: 300px;
  width: 80%;
  display: flex;
  justify-content: center;
}
.first-screen .first-screen__content .content__main {
  display: flex;
  flex-flow: column nowrap;
}
.first-screen .first-screen__content .content__main .content__title-img {
  width: 600px;
  height: 190px;
}
.first-screen .first-screen__content .content__main .content__link {
  font-family: "Roboto", sans-serif;
  color: #000;
  font-weight: 500;
}

.second-screen {
  max-width: 100%;
  height: 100%;
}
.second-screen .second-screen__header {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  text-transform: uppercase;
}
.second-screen .second-screen__header .header__content {
  width: 60%;
  height: 100%;
  align-items: center;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px #e2e2e2 solid;
}
.second-screen .second-screen__header .header__content .content__navbar {
  width: 400px;
}
.second-screen .second-screen__header .header__content .content__navbar .navbar__link {
  text-decoration: none;
  text-transform: uppercase;
  margin-left: 20px;
  letter-spacing: 1px;
}
.second-screen .second-screen__header .header__content .content__navbar .navbar__link:hover {
  transition: 0.3s;
  color: #ade1c5;
}
.second-screen .second-screen__header .header__content .content__search {
  float: right;
  display: flex;
  align-items: center;
  width: 100px;
}
.second-screen .second-screen__header .header__content .content__search .search__logo {
  width: 15px;
  height: 15px;
  margin-right: 10px;
}
.second-screen .second-screen__header .header__content .content__search .search__input {
  border: none;
  outline: none;
  font-family: "Roboto", sans-serif;
  width: 70px;
  height: 30px;
}
.second-screen .second-screen__content {
  width: 100%;
  height: 90%;
  margin-top: 100px;
  display: flex;
  justify-content: center;
  padding-bottom: 50px;
}
.second-screen .second-screen__content .content__main {
  display: flex;
  flex-flow: column nowrap;
  height: 100%;
}
.second-screen .second-screen__content .content__main .main__block-row {
  margin-bottom: 35px;
  width: 100%;
  height: 500px;
  display: flex;
}
.second-screen .second-screen__content .content__main .main__block-row .block {
  width: 350px;
  height: 500px;
  display: flex;
  box-shadow: 5px 3px 20px 0 #e2e2e2;
  flex-flow: column nowrap;
}
.second-screen .second-screen__content .content__main .main__block-row .block .block__content {
  width: 100%;
  height: 75%;
  display: flex;
}
.second-screen .second-screen__content .content__main .main__block-row .block .block__content .content__sidebar {
  align-items: center;
  display: flex;
  flex-flow: column nowrap;
  width: 20%;
}
.second-screen .second-screen__content .content__main .main__block-row .block .block__content .content__sidebar .sidebar__icon {
  width: 17px;
  margin: 15px 0;
}
.second-screen .second-screen__content .content__main .main__block-row .block .block__content .content__main {
  width: 80%;
  height: 100%;
  align-items: center;
}
.second-screen .second-screen__content .content__main .main__block-row .block .block__content .content__main .main__img {
  margin-left: 13%;
  width: 87%;
  height: 60%;
  background-color: #e7a8c6;
}
.second-screen .second-screen__content .content__main .main__block-row .block .block__content .content__main .main__img:hover {
  transition: 0.5s;
  background-color: #ade1c5;
}
.second-screen .second-screen__content .content__main .main__block-row .block .block__content .content__main .main__about {
  margin-top: 15%;
  width: 70%;
  height: 20%;
}
.second-screen .second-screen__content .content__main .main__block-row .block .block__content .content__main .main__about .about__title {
  text-decoration: none;
  color: #000;
  font-size: 22px;
  font-family: "Titillium Web", sans-serif;
  font-weight: 600;
}
.second-screen .second-screen__content .content__main .main__block-row .block .block__content .content__main .main__about .about__price {
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}
.second-screen .second-screen__content .content__main .main__block-row .block .block__button {
  border-top: 1px #e2e2e2 solid;
  margin: 0 15px;
  width: 90%;
  height: 25%;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.second-screen .second-screen__content .content__main .main__block-row .block .block__button .button {
  text-decoration: none;
  display: flex;
  height: 25px;
}
.second-screen .second-screen__content .content__main .main__block-row .block .block__button .button .button__img {
  margin-right: 10px;
  width: 27px;
  height: 21px;
}
.second-screen .second-screen__content .content__main .main__block-row .block .block__button .button .text {
  margin-top: 2px;
  font-family: "Roboto", sans-serif;
  color: #000;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 500;
}
.second-screen .second-screen__content .content__main .main__block-row .block .block__button .button .text:hover {
  transition: 0.3s;
  color: #ade1c5;
}
.second-screen .second-screen__advantages {
  width: 100%;
  height: 200px;
  background-color: #222;
  display: flex;
  justify-content: space-between;
}
.second-screen .second-screen__advantages .advantages__block-black {
  height: 100%;
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1d1e24;
}
.second-screen .second-screen__advantages .advantages__block-gray {
  height: 100%;
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #202127;
}

.footer {
  width: 100%;
  height: 450px;
  display: flex;
  justify-content: center;
}
.footer .footer__content {
  display: flex;
  justify-content: space-between;
  width: 1000px;
  height: 95%;
}
.footer .footer__content .content__store-description {
  user-select: none;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  width: 360px;
  height: 400px;
}
.footer .footer__content .content__store-description .store-description__logo {
  margin-top: 60px;
}
.footer .footer__content .content__store-description .store-description__text {
  margin-top: 15px;
  font-family: "Titillium Web", sans-serif;
  font-size: 14px;
  height: 100px;
  line-height: 22px;
  color: #7b7c85;
}
.footer .footer__content .content__store-description .store-description__link {
  text-decoration: none;
  color: #7b7c85;
  font-family: "Roboto", sans-serif;
  font-size: 13px;
}
.footer .footer__content .content__store-description .store-description__copy {
  font-family: "Roboto", sans-serif;
  color: #7b7c85;
  font-size: 11px;
  width: 100%;
}
.footer .footer__content .content__links {
  height: 400px;
  width: 200px;
  display: flex;
  justify-content: space-between;
  flex-flow: column nowrap;
}
.footer .footer__content .content__links .links__title {
  user-select: none;
  font-family: "Titillium Web", sans-serif;
  color: #1d1e24;
  margin-bottom: 30px;
}
.footer .footer__content .content__links .link {
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  color: #7b7c85;
}
.footer .footer__content .content__instagram {
  width: 350px;
  height: 100%;
}
.footer .footer__content .content__instagram .instagram__text {
  user-select: none;
  display: flex;
  margin-bottom: 60px;
}
.footer .footer__content .content__instagram .instagram__text .icon {
  width: 17px;
  height: 16px;
  margin-top: 5px;
  margin-right: 10px;
}
.footer .footer__content .content__instagram .instagram__text .text {
  font-family: "Titillium Web", sans-serif;
  color: #1d1e24;
}
.footer .footer__content .content__instagram .instagram__images-row {
  width: 100%;
  height: 80px;
  margin-bottom: 5px;
  display: flex;
  justify-content: space-between;
}
.footer .footer__content .content__instagram .instagram__images-row .img {
  width: 84px;
  height: 100%;
}

/*# sourceMappingURL=style.css.map */
