* {
  padding: 0;
  margin: 0;
  color: #45505e;
  overflow-style: inherit;
  box-sizing: border-box;
  font-family: "Roboto Light", sans-serif;
}

a {
  text-decoration: none;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header__search {
  padding-left: 7px;
  height: 30px;
}
.header__search-img {
  width: auto;
}
.header__search-input {
  color: #45505e;
  font-size: 11px;
  text-transform: uppercase;
  transition: 0.3s;
  max-width: 275px;
  height: 100%;
  border: none;
  outline: none;
}
.header__logo {
  width: 100%;
  margin: 5px;
}
.header__icons {
  max-width: 300px;
  display: flex;
  justify-content: left;
  align-items: center;
}
.header__icons .user {
  margin: 0 10px;
}
.header__icons .cart {
  margin: 0 10px;
}
.header__navbar {
  margin: 50px 0;
  width: 500px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.header__navbar .navbar-link {
  color: #45505e;
  font-size: 11px;
  text-transform: uppercase;
  transition: 0.3s;
}
.header__navbar .navbar-link:hover {
  color: #ade1c5;
}

.wrapper {
  margin-top: 50px;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

@media screen and (max-width: 500px) {
  .header__logo {
    width: 80%;
  }
  .header__navbar {
    width: 95%;
  }
  .header__search {
    width: 85px;
  }
  .header__search-input {
    width: 50px;
  }
}
.new-arrivals {
  background: #ade1c5;
  max-height: 576px;
  display: flex;
  justify-content: center;
}
.new-arrivals .wrapper {
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 100px 30px;
}
.new-arrivals .new-arrivals__offer .offer-img {
  width: 100%;
}
.new-arrivals .new-arrivals__link {
  font-weight: bold;
  font-size: 16px;
  color: #000;
  text-decoration: underline;
  text-transform: uppercase;
  line-height: 1.5;
}

.products-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.products-list .products-list__header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.products-list .products-list__inner {
  max-width: 1300px;
  margin: 56px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.product {
  width: 300px;
  min-height: 500px;
  display: flex;
  flex-direction: column;
  padding: 10px;
  transition: 0.3s;
}
.product__img {
  object-fit: contain;
  height: 190px;
}
.product__text-box {
  margin-top: 20px;
  padding-left: 20px;
  justify-content: center;
  flex-direction: column;
  height: 220px;
}
.product__text-box .text {
  color: #000;
  word-break: break-word;
  font-weight: 400;
  font-size: 23px;
  font-family: "Titillium Web", sans-serif;
  color: #000;
}
.product__btn {
  border: none;
  cursor: pointer;
  text-align: left;
  padding-left: 20px;
  color: #fff;
  color: #45505e;
  font-size: 11px;
  text-transform: uppercase;
  transition: 0.3s;
  outline: none;
  background: #fff;
  height: 85px;
}
.product__btn .button-text {
  padding: 0 10px;
}

.product:hover {
  box-shadow: 0 0 10px #d9d8d8;
}

.our-advantages {
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.our-advantages .our-advantages-block {
  padding: 5px;
  min-width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 260px;
  background: #202127;
}
.our-advantages .our-advantages-block .block-img {
  height: 60px;
}
.our-advantages .our-advantages-block .block__title {
  margin-top: 30px;
  font-weight: 300;
  font-size: 18px;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: center;
}
.our-advantages .our-advantages-block .block__text {
  text-align: center;
  color: #45505e;
}

@media screen and (max-width: 1140px) {
  .our-advantages .our-advantages-block {
    width: 50%;
  }
}
@media screen and (max-width: 468px) {
  .our-advantages .our-advantages-block {
    width: 100%;
  }
}
.footer {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
}
.footer__wrapper {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 60px;
}
.footer__info {
  padding: 10px;
}
.footer__info-img {
  width: auto;
}
.footer__info-text {
  margin-top: 30px;
  font-size: 14px;
  font-family: "Roboto Light", sans-serif;
}
.footer__info-excerpt {
  color: #45505e;
  text-decoration: none;
  font-size: 14px;
  font-family: "Roboto Light", sans-serif;
}
.footer__links {
  margin: 30px 0;
  max-width: 300px;
  display: flex;
  flex-direction: column;
}
.footer__links-heading {
  word-break: break-word;
  font-weight: 400;
  font-size: 23px;
  font-family: "Titillium Web", sans-serif;
  color: #000;
  margin-bottom: 35px;
}
.footer__links-link {
  margin: 10px 0;
  color: #45505e;
  font-size: 14px;
  font-family: "Roboto Light", sans-serif;
}
.footer__copyright {
  padding: 10px;
}
.footer__payment {
  display: flex;
  align-items: center;
}
.footer__payment-logo {
  width: auto;
}

.overlay {
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.3);
}

.show {
  display: flex;
}

.modal {
  border-radius: 25px;
  background-color: #ade1c5;
  max-width: 600px;
  padding: 30px;
  position: relative;
}
.modal__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}
.modal__header-close {
  width: 30px;
  height: 30px;
  font-weight: bold;
  cursor: pointer;
  outline: none;
  border: none;
  background: #fff;
  border-radius: 35px;
}
.modal__cart {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.modal__cart .item {
  margin: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.modal__cart .item__wrapper {
  width: 200px;
  display: flex;
  flex-direction: column;
  padding-right: 20px;
}
.modal__cart .item .item__name {
  word-break: break-word;
  font-weight: 400;
  font-size: 23px;
  font-family: "Titillium Web", sans-serif;
  color: #000;
}
.modal__cart .item .item__price {
  font-size: 14px;
  font-family: "Roboto Light", sans-serif;
}
.modal__cart .item .item__count {
  width: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.modal__cart .item .item__count .item-btn {
  margin: 5px;
  width: 30px;
  height: 30px;
  font-weight: bold;
  cursor: pointer;
  outline: none;
  border: none;
  background: #fff;
  border-radius: 35px;
}
.modal__cart .item-delete {
  width: 30px;
  height: 30px;
  font-weight: bold;
  cursor: pointer;
  outline: none;
  border: none;
  background: #fff;
  border-radius: 35px;
}
.modal__cart-total {
  margin-top: 10px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  word-break: break-word;
  font-weight: 400;
  font-size: 23px;
  font-family: "Titillium Web", sans-serif;
  color: #000;
}
.modal__form {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.modal__form-input {
  margin-right: 30px;
  height: 40px;
  padding: 10px;
  border-radius: 20px;
  border-style: none;
  margin-bottom: 30px;
}
.modal__form .cart-buy {
  height: 40px;
  padding: 10px;
  font-weight: bold;
  cursor: pointer;
  outline: none;
  border: none;
  background: #fff;
  border-radius: 35px;
}

@media screen and (max-width: 475px) {
  .modal {
    width: 90%;
    padding: 20px;
  }
  .modal .modal__cart .item {
    flex-direction: column;
  }
}

/*# sourceMappingURL=style.css.map */
